.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(203, 36, 36, .8);
}

.top {
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(250, 4, 4), 0 0 0.2em rgb(224, 49, 49);
    display: flex;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}

label {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputlabel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputlabel label {
    margin-left: 15px;
}

.contact form input,
textarea {
    margin: .5rem;
    padding: .7rem 1.5rem;
    background: rgba(255, 255, 255, .3);
    border: none;
    border-radius: 25px;
    color: #f6f6f6;
    font-size: 1rem;
    outline: none;
    font-family: "Roboto Condensed", sans-serif;
}

.contact form input:hover,
textarea:hover {
    box-shadow: 0 0 4px 0;
}

.contact form input::placeholder,
textarea::placeholder {
    color: #333;
}

.bottom {
    margin-top: 10px;
    margin-bottom: 15px;
}



@media screen and (max-width:540px) {

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(203, 36, 36, .8);
    }

    .top {
        text-shadow: 1px 1px 2px red, 0 0 1em rgb(250, 4, 4), 0 0 0.2em rgb(224, 49, 49);
        display: flex;
        align-self: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    label {
        color: white;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .inputlabel {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .inputlabel label {
        margin-left: 15px;
    }

    .contact form input,
    textarea {
        margin: .5rem;
        padding: .7rem 1.5rem;
        background: rgba(255, 255, 255, .3);
        border: none;
        border-radius: 25px;
        color: #f6f6f6;
        font-size: 1rem;
        outline: none;
        font-family: "Roboto Condensed", sans-serif;
    }

    .contact form input:hover,
    textarea:hover {
        box-shadow: 0 0 4px 0;
    }

    .contact form input::placeholder,
    textarea::placeholder {
        color: #333;
    }

    .bottom {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}