.programas {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .9;

}


.programas .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.programas .top {
    margin-top: 7rem;
    color: white;
}

.title {
    margin-top: 0px;
}



.programas .bottom {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin-bottom: 4rem;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;

}

.descricao {
    color: white;
    text-align: left;
    width: 40%;
}

.precos {
    color: white;
}

@media screen and (max-width:540px) {

    .programas{
        margin-top: 100px;
    }

    .programas .container .bottom {
        flex-direction: column;
        align-items: center;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    h3 {
        text-align: center;
        margin-top: 20px;
    }

    .descricao {
        width: 90%;
        text-align: center;


    }
}