.programas {
  background: url("../../assets/background2.jpg") no-repeat;
  background-size: cover;
  height: 55vw;
  justify-content: center;
  text-align: center;
}

.programas h2 {
  padding: 30px;
  color: white;
  font-size: 40px;
}

.main p {
  padding: 10px;
  font-size: 20px;
  text-align: justify;
  color: white;
  padding: 15px;
}

.images {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}

img {
  border-radius: 20px;
  width: 20rem;
  height: 12rem;
  padding: 10px;
}



@media screen and (max-width: 768px) {
  .programas {
    height: 130vh;
  }

  
  .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .mobileimg {
    display: none;
  }

  .images img {
    width: 60vw;
    height: 30vh;
  }
}

@media screen and (max-width: 480px) {
  .programas {
    height: 100vh;
  }

  .programas h2 {
    font-size: 30px;
  }

  .main p {
    margin-top: -20px;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
  }
  .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .mobileimg {
    display: none;
  }

  .images img {
   
    width: 70vw;
    height: 25vh;
  }
}

@media screen and (max-width: 395px) {

.programas{
  height: 130vh;
}
  
.images img {
   
  width: 65vw;
  height: 25vh;
}
}
