.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.title2 {
  display: flex;
  align-items: center;
  color: #cf3030;
  color: #cf3030;
  font-size: 32px;
  font-family: "Suez One", serif;
}

.title2:hover {
  color: #cf3030;
}

.leftside img {
  height: 50px;
  width: 50px;
  margin-left: 15px;
  padding: 5px;
}

.leftside {
  display: flex;
  gap: 10px;
}

.rightside {
  display: flex;
  justify-content: space-evenly;
  width: 10vw;
}

.middleside {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}

.buttons {
  border: solid;
  border-radius: 10px;
  padding: 3px;
  background-color: white;
  color: #cf3030;
  border: #cf3030 solid 1px;
}

.buttons:hover {
  background-color: #cf3030;
  color: white;
  transition: 0.3s;
}

a {
  color: #cf3030;
}

a:hover {
  color: #e88a1a;
  transition: 0.1s;
  cursor: pointer;
}

.icon {
  color: #cf3030;
}

.icon:hover {
  color: #e88a1a;
  transition: 0.1s;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  .title2 {
    font-size: 18px;
  }

  .middleside {
    display: none;
  }

  .rightside {
    width: 20vw;
  }
}

@media screen and (max-width: 420px) {
  .title2 {
    font-size: 16px;
  }

  .middleside {
    display: none;
  }

  .rightside {
    width: 25vw;
  }

}