.power {
    width: 100%;
    height: 100vh;
    background: url('../../assets/kid.png') no-repeat center center/cover;
    opacity: .9;
}

.power .container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.power .top {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(250, 4, 4), 0 0 0.2em rgb(224, 49, 49);
}

h1 {
    background: none;
}

.power .bottom {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin-bottom: 4rem;
}

.mainbtn {
    background-color: rgb(214, 28, 28, 0.5);
    width: 100px;
    height: 10px;
    box-shadow: 5px 10px 18px red;
}

@media screen and (max-width:540px) {
    .power .container .bottom {
        align-items: center;
    }

    .container{
        position: absolute;
    }

   .top {
        color: white;
        margin-top: 16rem;
        font-size: 40px;
        text-align: center;
    }

    

    .bottom{
        margin-top: -40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.power img{
    margin-top: 200px;
}

}