.benefits {
  background: url("../../assets/background1.jpg") no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
}

.benefits h2 {
  margin-top: -15px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.mainbenefits {
  display: flex;
  height: auto;
  justify-content: space-evenly;
}

.circle {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #cf3030;
  color: white;
  box-shadow: 0 0 20px #ccc;
}


@media screen and (max-width: 768px) {
  .benefits {
    height: 90vh;
    background: url("../../assets/background1.jpg") no-repeat;
    background-size: cover;
  }

  .benefits h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .mainbenefits {
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .circle {
    width: 150px;
    height: 150px;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .benefits {
    height: 80vh;
    background: url("../../assets/background1.jpg") no-repeat;
    background-size: cover;
  }

  .benefits h2 {
    font-size: 30px;
  }

  .mainbenefits {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .circle {
    width: 140px;
    height: 140px;
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {

  .benefits {
    height: 90vh;

  }
  
}