.sobre {
  background: url("../../assets/background2.jpg") no-repeat;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  height: 60vh;
  
}

.leftone h2{
  margin-top: -30px;
  text-align: center;
  font-weight: bold;
  font-size:40px;
}

.leftone {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80vw;
  color: white;
  border-radius: 10px;
  justify-content: space-evenly;
}

.leftone p{
  font-size: 20px;
}


.rightone {
  width: 40vw;
  background-color: white;
}

img {
  border-radius: 10px;
  transform: scale(1.4);
}



@media screen and (max-width: 768px) {

  .sobre{
    height: 55vh;
  }


  .leftone h2{
    text-align: center;
    font-weight: bold;
    font-size:30px;
  }

 
}

@media screen and (max-width: 420px) {
  
  .sobre{
    height: 55vh;
  }


  .leftone h2{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size:30px;

  }

  .leftone p{
    font-size: 18px;
    text-align: justify;
  }

}
